{% extends "base.html" %}
{% block content %}
<ol class="breadcrumb">
    <li><a href="/">首页</a></li>
    <li class="active">{{b.name}}</li>
</ol>
<a href="/article/create/{{ b.id }}" class="btn btn-primary">发表文章</a>
<br />
<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>状态</th>
            <th>标题</th>
            <th>创建时间</th>
            <th>最后更新时间</th>
        </tr>
    </thead>
    <tbody>
        {% for article in articles %}
        <tr>
            <td>{{ article.status }}</td>
            <td><a href="/article/detail/{{article.id}}">{{ article.title }}</a></td>
            <td>{{ article.create_timestamp|date:"Y-m-d P"}}</td>
            <td>{{ article.last_update_timestamp|date:"Y-m-d P"}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<nav>
    <ul class="pagination">
    {% if page.has_previous %}
        <li>
            <a href="?page_no={{ page.previous_page_number }}">&laquo;</a>
        </li>
    {% endif %}
    {% for link in plinks %}
        {% if link == page_no %}
            <li class="active">
                <a href="?page_no={{ link }}">{{ link }}</a>
            </li>
        {% else %}
            <li>
                <a href="?page_no={{ link }}">{{ link }}</a>
            </li>
        {% endif %}
    {% endfor %}
    {% if page.has_next %}
        <li>
            <a href="?page_no={{page.next_page_number }}">&raquo;</a>
        </li>
    {% endif %}
    </ul>
</nav>

{% endblock %}
