{% extends "base.html" %}
{% block content %}
<ol class="breadcrumb">
    <li><a href="/">首页</a></li>
    <li class="active">{{b.name}}</li>
</ol>
<a href="/article/create/{{ b.id }}" class="btn btn-primary">发表文章</a>
<br />
<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>作者</th>
            <th>标题</th>
            <th>创建时间</th>
            <th>最后更新时间</th>
        </tr>
    </thead>
    <tbody>
        {% for article in articles %}
        <tr>
            <td>{{ article.owner }}</td>
            <td><a href="/article/detail/{{article.id}}">{{ article.title }}</a></td>
            <td>{{ article.create_timestamp|date:"Y-m-d P"}}</td>
            <td>{{ article.last_update_timestamp|date:"Y-m-d P"}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<nav>
    <ul class="pagination">
    {% if pagination_data.has_previous %}
        <li>
            <a href="?page_no={{ pagination_data.previous_link }}">&laquo;</a>
        </li>
    {% endif %}
    {% for no in pagination_data.page_links %}
        {% if pagination_data.current_no == no %}
            <li class="active">
                <a href="?page_no={{ no }}">{{ no }}</a>
            </li>
        {% else %}
            <li>
                <a href="?page_no={{ no }}">{{ no }}</a>
            </li>
        {% endif %}
    {% endfor %}
    {% if pagination_data.has_next %}
        <li>
            <a href="?page_no={{ pagination_data.next_link }}">&raquo;</a>
        </li>
    {% endif %}
    </ul>
</nav>
{% endblock %}
