{% extends "base.html" %}
{% block content %}
<ol class="breadcrumb">
    <li><a href="/">首页</a></li>
    <li><a href="/article/list/{{b.id}}">{{b.name}}</a></li>
    <li class="active">文章发表页</li>
</ol>
<br />
<br />
<form action="/article/create/{{b.id}}" method="POST">{% csrf_token %}
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">标题</span>
        <input name="title" type="text" class="form-control" placeholder="标题" aria-describedby="basic-addon1" value="{{form.title.value}}">
    </div>

    <br />
    <textarea name="content" class="form-control" rows="6" placeholder="内容" >{{ form.content.value }}</textarea>
    <br />
    {% for field in form %}
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="alert alert-danger">{{ field.label }}:{{ error }}</div>
            {% endfor %}
        {% endif %}
    {% endfor %}
    <button  class="btn btn-primary">提交</button>
</form>
{% endblock %}
