<!docttype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Share Home</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
	<link rel="shortcut icon" href="/root/zhangly_web/favicon.ico">
	<link rel="Bookmark" href="/root/zhangly_web/favicon.ico">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="jumbotron">
                        <h1>Welcome to my share home</h1>
                        <p>It's blogs</p>
                        <p><a class="btn btn-primary btn-lg" href="#" role="button">更多信息</a></p>
                    </div>
                </div>
            </div>
            <div class="row">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
